configobj==5.0.6
dlib==19.23.1
face_recognition==1.3.0
ffmpeg==1.4
filelock==3.6.0
FileLock.egg==info
h5py==2.10.0
joblib==1.1.0
matplotlib==3.5.0
mmcv==1.4.8
numpy==1.20.3
opencv_python==4.5.1.48
Pillow==9.1.0
pretorched.egg==info
pytest==6.2.5
scipy==1.7.3
setproctitle==1.2.2
tensorflow==2.2.0
torch==1.8.1
torchsummary==1.5.1
torchvideo==0.0.1
torchvideo.egg==info
torchvision==0.9.1
tqdm==4.62.3
